<template name="privacy">
  {{> header}}
  <div id="all">
    <div id="content">
      <div class="container">
	
        <div class="col-md-12">
          <div class="box text-center">
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1">
                <h1>Privacy policy</h1>
              </div>
            </div>
          </div>
        </div>

        <!-- *** LEFT COLUMN ***
             _________________________________________________________ -->

        <div class="col-md-9 clearfix">

          <div class="box" id="text-page">
            <h1>1. First text</h1>

                        <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricie
s eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris
                            placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit ame
t, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum
                            rutrum orci, sagittis tempus lacus enim ac dui. n turpis pulvinar facilisis. Ut felis.</p>


            <h1>2. Second text</h1>

                        <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricie
s eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris
                            placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit ame
t, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum
                            rutrum orci, sagittis tempus lacus enim ac dui. n turpis pulvinar facilisis. Ut felis.</p>


            <h1>3. Third text</h1>

                        <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricie
s eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris
                            placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit ame
t, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum
                            rutrum orci, sagittis tempus lacus enim ac dui. n turpis pulvinar facilisis. Ut felis.</p>


          </div>


        </div>
        <!-- /.col-md-9 -->

        <!-- *** LEFT COLUMN END *** -->
	
        <!-- *** RIGHT COLUMN ***
             _________________________________________________________ -->
	
        <div class="col-sm-3">
          <!-- *** PAGES MENU ***
	       _________________________________________________________ -->
          <div class="panel panel-default sidebar-menu">

            <div class="panel-heading">
              <h3 class="panel-title">Legal</h3>
            </div>

            <div class="panel-body">
              <ul class="nav nav-pills nav-stacked">
                <li>
                  <a href="/terms">Terms & Conditions</a>
                </li>
                <li>
                  <a href="/privacy" disabled="disabled"><u>Privacy policy</u></a>
                </li>
              </ul>
            </div>
          </div>

          <!-- *** PAGES MENU END *** -->
        </div>
        <!-- /.col-md-3 -->

        <!-- *** RIGHT COLUMN END *** -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /#content -->

  {{> footer}}
  </div><!--/all-->
</template>

