<template name="footer">
        <div id="footer">
            <div class="container">
                <div class="col-md-3 col-sm-6">
                    <h4>{{t "Legal"}}</h4>

                    <ul>
                        <li><a href="/terms">{{t "Terms and conditions"}}</a></li>
                        <li><a href="/privacy">{{t "Privacy policy"}}</a></li>
                    </ul>

                    <hr class="hidden-md hidden-lg hidden-sm">

                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-6">

                    <h4>{{t "Where to find us"}}</h4>

                    <p><strong>{{t "CEF inc"}}</strong>
                        <br>{{t "cef addr 1st line"}}
                        <br>{{t "cef addr 2nd line"}}
                        <br>{{t "cef city"}}
                        <br>
                        <strong>{{t "Great Britain"}}</strong>
                    </p>

                    <a href="/#contact">{{t "Go to contact page"}}</a>

                    <hr class="hidden-md hidden-lg hidden-sm">

                </div>
                <!-- /.col-md-3 -->


                <div class="col-md-3 col-sm-6">
                    <h4>{{t "Stay in touch"}}</h4>

                    <p class="social">
                        <a href="#"><i class="fa fa-facebook-square"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </p>

                    <hr class="hidden-md hidden-lg hidden-sm">
		    <br>
		    <h4 class="title">{{t "Change language"}}</h4>

		    <div class="row">
                      <div class="col-xs-8">
			{{> changeLang}}
                      </div>
		    </div>
 

                </div>
                <!-- /.col-md-3 -->


                <div class="col-md-3 col-sm-6">

                    <h4>{{t "Get the news"}}</h4>

                    <p class="text-muted">{{t "subscribe text"}}</p>
		    <div>
		      {{flash '2'}}
		    </div>
		    {{#autoForm collection="Emails" id="Emails" type="insert"}}
                    <div class="input-group {{#if afFieldIsInvalid name='email'}}has-error{{/if}}">
		      {{> afFieldInput name="email"}}
                      <span class="input-group-btn">
			<button class="btn btn-default" type="submit">{{t "Subscribe!"}}</button>
		      </span>
                    </div>
		    {{/autoForm}}
                </div>
                <!-- /.col-md-3 -->
            </div>
            <!-- /.container -->
        </div>

        <!-- *** COPYRIGHT *** -->

        <div id="copyright">
            <div class="container">
                <div class="col-md-12">
                    <p class="pull-left">&copy; {{currentYear}}. {{t "CEF copyright text"}}</p>
                    <p class="pull-right">
                    </p>
                </div>
            </div>
        </div>
</template>
