<template name="home">
  {{> header}}
     <!-- *** SLIDER ***
	_________________________________________________________ -->

    <div id="slider" class="owl-carousel owl-theme">

        <div class="item">
            <a href="#">
                <img src="/img/slide1.jpg" alt="" class="img-responsive">
            </a>
        </div>

        <div class="item">
            <a href="#">
                <img src="/img/slide2.jpg" alt="" class="img-responsive">
            </a>
        </div>

        <div class="item">
            <a href="#">
                <img src="/img/slide3.jpg" alt="" class="img-responsive">
            </a>
        </div>

        <div class="item">
            <a href="#">
                <img src="/img/slide4.jpg" alt="" class="img-responsive">
            </a>
        </div>

        <div class="item">
            <a href="#">
                <img src="/img/slide5.jpg" alt="" class="img-responsive">
            </a>
        </div>

        <div class="item">
            <a href="#">
                <img src="/img/slide6.jpg" alt="" class="img-responsive">
            </a>
        </div>


    </div>
    <!-- /#slider -->

    <!-- *** SLIDER END *** -->

    <div id="all">

        <!-- *** ADVANTAGES ***
_________________________________________________________ -->
	<a id="how-it-works"></a>

        <div id="advantages">

            <div class="container">

                <div class="col-md-12">

                    <div class="box text-center">
                        <h1 class="text-uppercase">{{t "How it works"}}</h1>

                        <p>{{{t "how it works text"}}}</p>



                        <div class="same-height-row row">
                            <div class="col-sm-3">
                                <div class="box same-height clickable no-border text-center-xs text-center-sm">
                                    <div class="icon"><i class="fa fa-heart-o"></i>
                                    </div>
                                    <h4><a href="text.html">{{t "Satisfied customers"}}</a></h4>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="box same-height clickable no-border text-center-xs text-center-sm">
                                    <div class="icon"><i class="fa fa-tags"></i>
                                    </div>
                                    <h4><a href="text.html">{{t "Best prices"}}</a></h4>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="box same-height clickable no-border text-center-xs text-center-sm">
                                    <div class="icon"><i class="fa fa-send-o"></i>
                                    </div>
                                    <h4><a href="faq.html">{{t "Next day delivery"}}</a></h4>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="box same-height clickable no-border text-center-xs text-center-sm">
                                    <div class="icon"><i class="fa fa-refresh"></i>
                                    </div>
                                    <h4><a href="contact.html">{{t "Free returns for 3 months"}}</a></h4>
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->

                    </div>

                </div>


            </div>
            <!-- /.container -->

        </div>
        <!-- /#advantages -->

        <!-- *** ADVANTAGES END *** -->

        <!-- *** CONTENT ***
	    _________________________________________________________
	    -->

	<a id="success-stories"></a>
        <div id="content">
            <div class="container">
                <div class="col-sm-12">

                    <div class="box text-center">
                        <h1 class="text-uppercase">{{t "Success stories"}}</h1>
			{{t "success stories text"}}
                    </div>

                    <div class="row products">

                        <div class="col-md-3 col-sm-4">
                            <div class="product">
                                <div class="image">
                                    <a href="http://some-outside.url" target="_blank">
                                        <img src="/img/product1.jpg" alt="" class="img-responsive image1">
                                    </a>
                                </div>
                                <!-- /.image -->
                                <div class="text">
                                    <h3><a href="http://some-outside.url" target="_blank">
					{{t "Shop name and short blurb about the shop - may get it from DB"}}</a></h3>
                                    <p class="price">({{t "product marketplace"}})</p>
                                </div>
                                <!-- /.text -->
                                <div class="ribbon sale">
                                    <div class="theribbon">{{t "NEW"}}</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->
                            </div>
                            <!-- /.product -->
                        </div>

                        <div class="col-md-3 col-sm-4">
                            <div class="product">
                                <div class="image">
                                    <a href="http://some-outside.url" target="_blank">
                                        <img src="/img/product2.jpg" alt="" class="img-responsive image2">
                                    </a>
                                </div>
                                <!-- /.image -->
                                <div class="text">
                                    <h3><a href="http://some-outside.url" target="_blank">
					{{t "Shop name and short blurb about the shop - may get it from DB"}}</a></h3>
                                    <p class="price">({{t "rent marketplace"}})</p>
                                </div>
                                <!-- /.text -->
                                <div class="ribbon sale">
                                    <div class="theribbon">{{t "NEW"}}</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->
                            </div>
                            <!-- /.product -->
                        </div>

                        <div class="col-md-3 col-sm-4">
                            <div class="product">
                                <div class="image">
                                    <a href="http://some-outside.url" target="_blank">
                                        <img src="/img/product3.jpg" alt="" class="img-responsive image3">
                                    </a>
                                </div>
                                <!-- /.image -->
                                <div class="text">
                                    <h3><a href="http://some-outside.url" target="_blank">
					{{t "About the shop - may get it from DB"}}</a></h3>
                                    <p class="price">({{t "product marketplace"}})</p>
                                </div>
                                <!-- /.text -->
                            </div>
                            <!-- /.product -->
                        </div>

                        <div class="col-md-3 col-sm-4">
                            <div class="product">
                                <div class="image">
                                    <a href="http://some-outside.url" target="_blank">
                                        <img src="/img/product4.jpg" alt="" class="img-responsive image4">
                                    </a>
                                </div>
                                <!-- /.image -->
                                <div class="text">
                                    <h3><a href="http://some-outside.url" target="_blank">
					{{t "Shop name and short blurb"}}</a></h3>
                                    <p class="price">({{t "services marketplace"}})</p>
                                </div>
                                <!-- /.text -->
                            </div>
                            <!-- /.product -->
                        </div>



                    </div>
                    <!-- /.products -->

                </div>
                <!-- /.col-sm-12 -->

            </div>
            <!-- /.container -->






        <!-- ******PRICE PLAN****** -->
	<a id="prices"></a>
        <section id="price-plan" class="price-plan section">
            <div class="container text-center">
                <h2 class="title">{{t "30 day FREE trial with all plans!"}}</h2>
                <p class="intro">{{t "pricing text"}} </p>
                <div class="price-cols row">
                    <div class="item col-md-4 col-sm-4 col-xs-12">
                        <h3 class="heading">{{t "Basic"}}</h3>
                        <div class="content">
                            <p class="price-figure"><span class="currency">$</span><span class="number">5</span><span class="unit">/{{t "month"}}</span></p>
                            <ul class="list-unstyled feature-list">
                                <li>1 {{t "user"}}</li>
                                <li>10 GB {{t "storage"}}</li>
                                <li>{{t "Email support"}}</li>
                                <li>{{t "Free update"}}</li>
                            </ul>
                            <a class="btn btn-primary" href="/step-one/">{{t "Sign Up"}} <br /><span class="extra">{{t "30 day free trial"}}</span></a>
                        </div><!--//content-->
                    </div><!--//item-->

                    <div class="item col-md-4 col-sm-4 col-xs-12">
                        <h3 class="heading">{{t "Plus"}} <span class="label label-custom">{{t "Popular"}}</span></h3>
                        <div class="content">
                            <p class="price-figure"><span class="currency">$</span><span class="number">10</span><span class="unit">/{{t "month"}}</span></p>
                            <ul class="list-unstyled feature-list">
                                <li>10 {{t "users"}}</li>
                                <li>30 GB {{t "storage"}}</li>
                                <li>{{t "Email priority support"}}</li>
                                <li>{{t "Free update"}}</li>
                            </ul>
                            <a class="btn btn-primary" href="/step-one/">{{t "Sign Up"}} <br /><span class="extra">{{t "30 day free trial"}}</span></a>
                        </div><!--//content-->
                    </div><!--//item-->

                    <div class="item col-md-4 col-sm-4 col-xs-12">
                        <h3 class="heading">{{t "Premium"}}</h3>
                        <div class="content">
                            <p class="price-figure"><span class="currency">$</span><span class="number">25</span><span class="unit">/{{t "month"}}</span></p>
                            <ul class="list-unstyled feature-list">
                                <li>{{t "Unlimited"}} {{t "user"}}</li>
                                <li>100 GB {{t "storage"}}</li>
                                <li>24/7 {{t "support"}}</li>
                                <li>{{t "Free update"}}</li>
                            </ul>
                            <a class="btn btn-primary" href="/step-one/">{{t "Sign Up"}} <br /><span class="extra">{{t "30 day free trial"}}</span></a>
                        </div><!--//content-->
                    </div><!--//item-->
                </div><!--//row-->
            </div><!--//container-->
        </section><!--//price-plan-->










            <!-- *** PROMO BAR ***
_________________________________________________________ -->

            <div class="bar background-image-fixed-2 no-mb color-white text-center">
                <div class="dark-mask"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="icon icon-lg"><i class="fa fa-bookmark"></i>
                            </div>
                            <h1>{{t "It is free to start"}}</h1>
                            <p class="lead">{{t "coffee text"}}
			    </p><p>{{t "and pay text"}}</p>
                            <p class="text-center">
                                <a href="/step-one/" class="btn btn-primary btn-lg">{{t "Open your marketplace now!"}}</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>

            <!-- *** PROMO BAR END *** -->

	    <div class="box" id="contact">
	      <div class="row">
		<a id="contact"></a>
		<h1 class="text-center">{{t "Contact us"}}</h1>
                <p class="lead text-center">{{t "Are you curious about something?"}}</p>
                <p class="text-center">{{t "contact us text"}}</p>
		    <div class="col-lg-offset-4 col-lg-4">

		      {{#autoForm schema=contactFormSchema id="contactForm" type="method" meteormethod="sendEmail"}}
		      <fieldset>
			<div>
			  {{flash '1'}}
			</div>
			{{> afQuickField name="email"}}
			{{> afQuickField name="message" rows=5}}
			<div class="text-center">
			  <button type="submit" class="btn btn-primary">{{t "Submit"}}</button>
			  <button type="reset" class="btn btn-default">{{t "Reset"}}</button>
			</div>
		      </fieldset>
		      {{/autoForm}}
		    </div>

	      </div>
	    </div>
        </div>
        <!-- /#content -->

  {{> footer}}
  </div><!--/all-->
  <div id="jsToLoad"></div>
</template>
