<template name="home">
  <div class="wrapper">
    {{> header}}
    <div class="jumbotron text-center">
      <h1>Here we'll start our journey!</h1>
      <p>Get own marketplace in few clicks</p>
      <a href="/step-one" class="btn btn-success btn-lg">START</a>
    </div>
    <div class="col-lg-offset-6 col-lg-5">
      {{#autoForm schema=contactFormSchema id="contactForm" type="method" meteormethod="sendEmail"}}
      <fieldset>
	<legend><b>Contact Us</b></legend>
	<div>
	  {{flash '1'}}
	</div>
	{{> afQuickField name="email"}}
	{{> afQuickField name="message" rows=5}}
	<div>
	  <button type="submit" class="btn btn-primary">Submit</button>
	  <button type="reset" class="btn btn-default">Reset</button>
	</div>
      </fieldset>
      {{/autoForm}}
    </div>
    <div class="col-lg-1">
    </div>
    <div class="row">
    </div>
  </div><!--//wrapper-->
  {{> footer}}
</template>
