<template name="stepThree">
  <div class="wrapper">
    {{> header}}
    <div class="row">
    </div>
    <div class="col-lg-offset-4 col-lg-4">
      {{#autoForm collection="Marketplaces" doc=this id="stepThree" type="update"}}
      <fieldset>
        <legend><b>3rd STEP:</b></legend>
        {{> afQuickField name="marketplaceType"}}
        {{> afQuickField name="marketplaceName"}}
        <div>
          <button type="submit" class="btn btn-primary"><small class="placeForCogs">(3 of 3)</small> <b>Go to my marketplace!</b></button>
        </div>
      </fieldset>
      {{/autoForm}}
    </div>
    <div class="col-lg-4">
    </div>
    <div class="row">
    </div>
  </div><!--//wrapper-->
  {{> footer}}
</template>
