<template name="stepThree">
  {{> header}}
  <div id="all">
    <div id="content">
      <div class="container">
	
        <div class="col-md-12">
          <div class="box">
            <div class="row">

	      <div class="col-lg-offset-4 col-lg-4">
		{{#autoForm collection="Marketplaces" doc=this id="stepThree" type="update"}}
		<fieldset>
		  <legend><b>3rd STEP:</b></legend>
		  {{> afQuickField name="marketplaceType" class="input-lg"}}
		  {{> afQuickField name="marketplaceName" class="input-lg"}}
		  <div>
		    <button type="submit" class="btn btn-primary btn-lg"><small class="placeForCogs">(3 of 3)</small> <b>Go to my marketplace!</b></button>
		  </div>
		</fieldset>
		{{/autoForm}}
	      </div>

            </div>
          </div>
        </div>
      </div>
      
    </div>

    <br><br><br><br><br><br><br><br><br><br><br><br>

    {{> footer}}
  </div><!--//wrapper-->
</template>
