<template name="stepOne">
  {{> header}}
  <div id="all">
    <div id="content">
      <div class="container">

        <div class="col-md-12">
          <div class="box">
            <div class="row">

	      <div class="col-lg-offset-4 col-lg-4">
		{{#autoForm collection="Marketplaces" id="stepOne" type="insert"}}
		<fieldset>
		  <legend><b>{{t "1st STEP"}}:</b></legend>
		  {{> afQuickField name="email" class="input-lg"}}
		  <div>
		    <button type="submit" class="btn btn-primary btn-lg"><small>(1 {{t "of"}} 3)</small> <b>{{t "NEXT"}} ></b></button>
		  </div>
		</fieldset>
		{{/autoForm}}
	      </div>

		
            </div>
          </div>
        </div>
      </div>

    </div>



    <br><br><br><br><br><br>
    <br><br><br><br><br><br>
    <br><br><br><br><br><br>
    {{> footer}}
  </div><!--//wrapper-->
</template>
