<template name="stepOne">
  <div class="wrapper">
    {{> header}}
    <div class="row">
    </div>
    <div class="col-lg-offset-4 col-lg-4">
      {{#autoForm collection="Marketplaces" id="stepOne" type="insert"}}
      <fieldset>
        <legend><b>1st STEP:</b></legend>
        {{> afQuickField name="email"}}
        <div>
          <button type="submit" class="btn btn-primary"><small>(1 of 3)</small> <b>NEXT ></b></button>
        </div>
      </fieldset>
      {{/autoForm}}
     </div>
    <div class="col-lg-4">
    </div>
    <div class="row">
    </div>
  </div><!--//wrapper-->
  {{> footer}}
</template>
